<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lesson1</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson2</key>
	<array>
		<array>
			<string>か </string>
			<string>き</string>
			<string>く</string>
			<string>け</string>
			<string>こ</string>
		</array>
		<array>
			<string>ka</string>
			<string>ki</string>
			<string>ku</string>
			<string>ke</string>
			<string>ko</string>
		</array>
		<array>
			<string>ka</string>
			<string>ki</string>
			<string>ku</string>
			<string>ke</string>
			<string>ko</string>
		</array>
		<array>
			<array>
				<string>ka1</string>
				<string>ka2</string>
				<string>ka3</string>
				<string>ka4</string>
			</array>
			<array>
				<string>ki1</string>
				<string>ki2</string>
				<string>ki3</string>
				<string>ki4</string>
				<string>ki5</string>
			</array>
			<array>
				<string>ku1</string>
				<string>ku2</string>
			</array>
			<array>
				<string>ke1</string>
				<string>ke2</string>
				<string>ke3</string>
				<string>ke4</string>
			</array>
			<array>
				<string>ko1</string>
				<string>ko2</string>
				<string>ko3</string>
			</array>
		</array>
	</array>
	<key>Lesson3</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson4</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson5</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson6</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson7</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson8</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
	<key>Lesson9</key>
	<array>
		<array>
			<string>あ</string>
			<string>い</string>
			<string>う</string>
			<string>え</string>
			<string>お</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
		<array>
			<array>
				<string>a1</string>
				<string>a2</string>
				<string>a3</string>
				<string>a4</string>
			</array>
			<array>
				<string>i1</string>
				<string>i2</string>
				<string>i3</string>
			</array>
			<array>
				<string>u1</string>
				<string>u2</string>
				<string>u3</string>
			</array>
			<array>
				<string>e1</string>
				<string>e2</string>
				<string>e3</string>
			</array>
			<array>
				<string>o1</string>
				<string>o2</string>
				<string>o3</string>
				<string>o4</string>
			</array>
		</array>
	</array>
</dict>
</plist>
