<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>あ</key>
			<string>a</string>
			<key>い</key>
			<string>i</string>
			<key>う</key>
			<string>u</string>
			<key>え</key>
			<string>e</string>
			<key>お</key>
			<string>o</string>
		</dict>
		<array>
			<string>a</string>
			<string>i</string>
			<string>u</string>
			<string>e</string>
			<string>o</string>
		</array>
	</array>
	<array>
		<dict>
			<key>か</key>
			<string>ka</string>
			<key>き</key>
			<string>ki</string>
			<key>く</key>
			<string>ku</string>
			<key>け</key>
			<string>ke</string>
			<key>こ</key>
			<string>ko</string>
		</dict>
		<array>
			<string>ka</string>
			<string>ki</string>
			<string>ku</string>
			<string>ke</string>
			<string>ko</string>
		</array>
	</array>
    <array>
        <dict>
            <key>さ</key>
            <string>sa</string>
            <key>し</key>
            <string>shi</string>
            <key>す</key>
            <string>su</string>
            <key>せ</key>
            <string>se</string>
            <key>そ</key>
            <string>so</string>
        </dict>
        <array>
            <string>sa</string>
            <string>shi</string>
            <string>su</string>
            <string>se</string>
            <string>so</string>
        </array>
    </array>
    <array>
        <dict>
            <key>た</key>
            <string>ta</string>
            <key>ち</key>
            <string>chi</string>
            <key>つ</key>
            <string>tsu</string>
            <key>て</key>
            <string>te</string>
            <key>と</key>
            <string>to</string>
        </dict>
        <array>
            <string>ta</string>
            <string>chi</string>
            <string>tsu</string>
            <string>te</string>
            <string>to</string>
        </array>
    </array>
    <array>
        <dict>
            <key>な</key>
            <string>na</string>
            <key>に</key>
            <string>ni</string>
            <key>ぬ</key>
            <string>nu</string>
            <key>ね</key>
            <string>ne</string>
            <key>の</key>
            <string>no</string>
        </dict>
        <array>
            <string>na</string>
            <string>ni</string>
            <string>nu</string>
            <string>ne</string>
            <string>no</string>
        </array>
    </array>
    <array>
        <dict>
            <key>は</key>
            <string>ha</string>
            <key>ひ</key>
            <string>hi</string>
            <key>ふ</key>
            <string>fu</string>
            <key>へ</key>
            <string>he</string>
            <key>ほ</key>
            <string>ho</string>
        </dict>
        <array>
            <string>ha</string>
            <string>hi</string>
            <string>fu</string>
            <string>he</string>
            <string>ho</string>
        </array>
    </array>
    <array>
        <dict>
            <key>ま</key>
            <string>ma</string>
            <key>み</key>
            <string>mi</string>
            <key>む</key>
            <string>mu</string>
            <key>め</key>
            <string>me</string>
            <key>も</key>
            <string>mo</string>
        </dict>
        <array>
            <string>ma</string>
            <string>mi</string>
            <string>mu</string>
            <string>me</string>
            <string>mo</string>
        </array>
    </array>
    <array>
        <dict>
            <key>ら</key>
            <string>ra</string>
            <key>り</key>
            <string>ri</string>
            <key>る</key>
            <string>ru</string>
            <key>れ</key>
            <string>re</string>
            <key>ろ</key>
            <string>ro</string>
        </dict>
        <array>
            <string>ra</string>
            <string>ri</string>
            <string>ru</string>
            <string>re</string>
            <string>ro</string>
        </array>
    </array>
    <array>
        <dict>
            <key>や</key>
            <string>ya</string>
            <key>ゆ</key>
            <string>yu</string>
            <key>よ</key>
            <string>yo</string>
            <key>わ</key>
            <string>wa</string>
            <key>を</key>
            <string>wo</string>
        </dict>
        <array>
            <string>ya</string>
            <string>yu</string>
            <string>yo</string>
            <string>wa</string>
            <string>wo</string>
        </array>
    </array>
</array>
</plist>
