<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>amor</key>
            <string>あい</string>
            <key>não</key>
            <string>いいえ</string>
            <key>dizer</key>
            <string>いう</string>
            <key>tudo certo</key>
            <string>う</string>
            <key>bom</key>
            <string>ええ</string>
            <key>desenho</key>
            <string>え</string>
            <key>sobrinho</key>
            <string>おい</string>
            <key>rei</key>
            <string>おう</string>
            <key>azul</key>
            <string>あおい</string>
        </dict>
        <dict>
            <key>あい</key>
            <string>ai</string>
            <key>いいえ</key>
            <string>iie</string>
            <key>いう</key>
            <string>iu</string>
            <key>う</key>
            <string>u</string>
            <key>ええ</key>
            <string>ee</string>
            <key>え</key>
            <string>e</string>
            <key>おい</key>
            <string>oi</string>
            <key>おう</key>
            <string>ou</string>
            <key>あおい</key>
            <string>aoi</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>face</key>
            <string>かお</string>
            <key>meeting</key>
            <string>かい</string>
            <key>chronicle</key>
            <string>き</string>
            <key>breath of mind</key>
            <string>きう</string>
            <key>ward</key>
            <string>く</string>
            <key>stem</key>
            <string>くき</string>
            <key>sistema</key>
            <string>けい</string>
            <key>raro</key>
            <string>けう</string>
            <key>manuscrito</key>
            <string>こう</string>
            <key>severo</key>
            <string>こく</string>
        </dict>
        <dict>
            <key>かお</key>
            <string>kao</string>
            <key>かい</key>
            <string>kai</string>
            <key>き</key>
            <string>ki</string>
            <key>きう</key>
            <string>kiu</string>
            <key>く</key>
            <string>ku</string>
            <key>くき</key>
            <string>kuki</string>
            <key>けい</key>
            <string>kei</string>
            <key>けう</key>
            <string>keu</string>
            <key>こう</key>
            <string>kou</string>
            <key>こく</key>
            <string>koku</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>sake</key>
            <string>さけ</string>
            <key>anterior</key>
            <string>さき</string>
            <key>fórmula</key>
            <string>しき</string>
            <key>sal</key>
            <string>しお</string>
            <key>amor</key>
            <string>すき</string>
            <key>fim</key>
            <string>すえ</string>
            <key>made</key>
            <string>せい</string>
            <key>teoria</key>
            <string>せつ</string>
            <key>par</key>
            <string>そう</string>
            <key>motherland</key>
            <string>そこく</string>
        </dict>
        <dict>
            <key>さけ</key>
            <string>sake</string>
            <key>さき</key>
            <string>saki</string>
            <key>しき</key>
            <string>shiki</string>
            <key>しお</key>
            <string>shio</string>
            <key>すき</key>
            <string>suki</string>
            <key>すえ</key>
            <string>sue</string>
            <key>せい</key>
            <string>sei</string>
            <key>せつ</key>
            <string>setsu</string>
            <key>そう</key>
            <string>sou</string>
            <key>そこく</key>
            <string>sokoku</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>cachoeira</key>
            <string>たき</string>
            <key>casa</key>
            <string>たく</string>
            <key>subterrâneo</key>
            <string>ちか</string>
            <key>conhecido</key>
            <string>ちき</string>
            <key>agora</key>
            <string>つい</string>
            <key>enquanto</key>
            <string>つつ</string>
            <key>mão</key>
            <string>て</string>
            <key>alvo</key>
            <string>てき</string>
            <key>quando</key>
            <string>とき</string>
            <key>cidade</key>
            <string>とし</string>
        </dict>
        <dict>
            <key>たき</key>
            <string>taki</string>
            <key>たく</key>
            <string>taku</string>
            <key>ちか</key>
            <string>chika</string>
            <key>ちき</key>
            <string>chiki</string>
            <key>つい</key>
            <string>tsui</string>
            <key>つつ</key>
            <string>tsutsu</string>
            <key>て</key>
            <string>te</string>
            <key>てき</key>
            <string>teki</string>
            <key>とき</key>
            <string>toki</string>
            <key>とし</key>
            <string>toshi</string>
        </dict>
    </array>
</array>
</plist>
