<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
        <dict>
            <key>amor</key>
            <string>あい</string>
            <key>não</key>
            <string>いいえ</string>
            <key>dizer</key>
            <string>いう</string>
            <key>tudo certo</key>
            <string>う</string>
            <key>bom</key>
            <string>ええ</string>
            <key>desenho</key>
            <string>え</string>
            <key>sobrinho</key>
            <string>おい</string>
            <key>rei</key>
            <string>おう</string>
            <key>azul</key>
            <string>あおい</string>
        </dict>
        <dict>
            <key>あい</key>
            <string>ai</string>
            <key>いいえ</key>
            <string>iie</string>
            <key>いう</key>
            <string>iu</string>
            <key>う</key>
            <string>u</string>
            <key>ええ</key>
            <string>ee</string>
            <key>え</key>
            <string>e</string>
            <key>おい</key>
            <string>oi</string>
            <key>おう</key>
            <string>ou</string>
            <key>あおい</key>
            <string>aoi</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>face</key>
            <string>かお</string>
            <key>meeting</key>
            <string>かい</string>
            <key>chronicle</key>
            <string>き</string>
            <key>breath of mind</key>
            <string>きう</string>
            <key>ward</key>
            <string>く</string>
            <key>stem</key>
            <string>くき</string>
            <key>sistema</key>
            <string>けい</string>
            <key>raro</key>
            <string>けう</string>
            <key>manuscrito</key>
            <string>こう</string>
            <key>severo</key>
            <string>こく</string>
        </dict>
        <dict>
            <key>かお</key>
            <string>kao</string>
            <key>かい</key>
            <string>kai</string>
            <key>き</key>
            <string>ki</string>
            <key>きう</key>
            <string>kiu</string>
            <key>く</key>
            <string>ku</string>
            <key>くき</key>
            <string>kuki</string>
            <key>けい</key>
            <string>kei</string>
            <key>けう</key>
            <string>keu</string>
            <key>こう</key>
            <string>kou</string>
            <key>こく</key>
            <string>koku</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>sake</key>
            <string>さけ</string>
            <key>anterior</key>
            <string>さき</string>
            <key>fórmula</key>
            <string>しき</string>
            <key>sal</key>
            <string>しお</string>
            <key>amor</key>
            <string>すき</string>
            <key>fim</key>
            <string>すえ</string>
            <key>made</key>
            <string>せい</string>
            <key>teoria</key>
            <string>せつ</string>
            <key>par</key>
            <string>そう</string>
            <key>motherland</key>
            <string>そこく</string>
        </dict>
        <dict>
            <key>さけ</key>
            <string>sake</string>
            <key>さき</key>
            <string>saki</string>
            <key>しき</key>
            <string>shiki</string>
            <key>しお</key>
            <string>shio</string>
            <key>すき</key>
            <string>suki</string>
            <key>すえ</key>
            <string>sue</string>
            <key>せい</key>
            <string>sei</string>
            <key>せつ</key>
            <string>setsu</string>
            <key>そう</key>
            <string>sou</string>
            <key>そこく</key>
            <string>sokoku</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>cachoeira</key>
            <string>たき</string>
            <key>casa</key>
            <string>たく</string>
            <key>subterrâneo</key>
            <string>ちか</string>
            <key>conhecido</key>
            <string>ちき</string>
            <key>agora</key>
            <string>つい</string>
            <key>enquanto</key>
            <string>つつ</string>
            <key>mão</key>
            <string>て</string>
            <key>alvo</key>
            <string>てき</string>
            <key>quando</key>
            <string>とき</string>
            <key>cidade</key>
            <string>とし</string>
        </dict>
        <dict>
            <key>たき</key>
            <string>taki</string>
            <key>たく</key>
            <string>taku</string>
            <key>ちか</key>
            <string>chika</string>
            <key>ちき</key>
            <string>chiki</string>
            <key>つい</key>
            <string>tsui</string>
            <key>つつ</key>
            <string>tsutsu</string>
            <key>て</key>
            <string>te</string>
            <key>てき</key>
            <string>teki</string>
            <key>とき</key>
            <string>toki</string>
            <key>とし</key>
            <string>toshi</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>relacionamento</key>
            <string>なか</string>
            <key>sete</key>
            <string>なな</string>
            <key>carne</key>
            <string>にく</string>
            <key>oeste</key>
            <string>にし</string>
            <key>lukewarm</key>
            <string>ぬくい</string>
            <key>cloth</key>
            <string>ぬの</string>
            <key>gato</key>
            <string>ねこ</string>
            <key>calor</key>
            <string>ねつ</string>
            <key>embora</key>
            <string>のに</string>
            <key>cerebro</key>
            <string>のう</string>
        </dict>
        <dict>
            <key>なか</key>
            <string>naka</string>
            <key>なな</key>
            <string>nana</string>
            <key>にく</key>
            <string>niku</string>
            <key>にし</key>
            <string>nishi</string>
            <key>ぬくい</key>
            <string>nukui</string>
            <key>ぬの</key>
            <string>nuno</string>
            <key>ねこ</key>
            <string>neko</string>
            <key>ねつ</key>
            <string>netsu</string>
            <key>のに</key>
            <string>noni</string>
            <key>のう</key>
            <string>nou</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>sim</key>
            <string>はい</string>
            <key>bandeira</key>
            <string>はた</string>
            <key>pessoa</key>
            <string>ひと</string>
            <key>chill</key>
            <string>ひえ</string>
            <key>sessão</key>
            <string>ふし</string>
            <key>aumentar</key>
            <string>ふえ</string>
            <key>estrela</key>
            <string>ほし</string>
            <key>arco</key>
            <string>へさき</string>
            <key>plain</key>
            <string>へいい</string>
            <key>outro</key>
            <string>ほか</string>
        </dict>
        <dict>
            <key>はい</key>
            <string>hai</string>
            <key>はた</key>
            <string>hada</string>
            <key>ひと</key>
            <string>hito</string>
            <key>ひえ</key>
            <string>hie</string>
            <key>ふし</key>
            <string>fushi</string>
            <key>ふえ</key>
            <string>fue</string>
            <key>ほし</key>
            <string>hoshi</string>
            <key>へさき</key>
            <string>hesaki</string>
            <key>へいい</key>
            <string>heii</string>
            <key>ほか</key>
            <string>hoka</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>antes</key>
            <string>まえ</string>
            <key>também</key>
            <string>また</string>
            <key>orelha</key>
            <string>みみ</string>
            <key>estrada</key>
            <string>みち</string>
            <key>neglect</key>
            <string>むし</string>
            <key>inatividade</key>
            <string>むい</string>
            <key>olho</key>
            <string>め</string>
            <key>business card</key>
            <string>めいし</string>
            <key>outro</key>
            <string>もう</string>
            <key>pensar</key>
            <string>おもい</string>
        </dict>
        <dict>
            <key>まえ</key>
            <string>mae</string>
            <key>また</key>
            <string>mata</string>
            <key>みみ</key>
            <string>mimi</string>
            <key>みち</key>
            <string>michi</string>
            <key>むし</key>
            <string>mushi</string>
            <key>むい</key>
            <string>mui</string>
            <key>め</key>
            <string>me</string>
            <key>めいし</key>
            <string>meishi</string>
            <key>もう</key>
            <string>mou</string>
            <key>おもい</key>
            <string>omoi</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>abduction</key>
            <string>らち</string>
            <key>appear</key>
            <string>らしい</string>
            <key>intelecto</key>
            <string>りち</string>
            <key>entendimento</key>
            <string>りかい</string>
            <key>ausencia</key>
            <string>るす</string>
            <key>analogia</key>
            <string>るいすい</string>
            <key>zero</key>
            <string>れい</string>
            <key>historia</key>
            <string>れきし</string>
            <key>cor</key>
            <string>いろ</string>
            <key>seis</key>
            <string>ろく</string>
        </dict>
        <dict>
            <key>らち</key>
            <string>rachi</string>
            <key>らしい</key>
            <string>rashii</string>
            <key>りち</key>
            <string>richi</string>
            <key>りかい</key>
            <string>rikai</string>
            <key>るす</key>
            <string>rusu</string>
            <key>るいすい</key>
            <string>ruisui</string>
            <key>れい</key>
            <string>rei</string>
            <key>れきし</key>
            <string>rekishi</string>
            <key>いろ</key>
            <string>iro</string>
            <key>ろく</key>
            <string>roku</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>saida</key>
            <string>やめ</string>
            <key>escuridão</key>
            <string>やみ</string>
            <key>sonho</key>
            <string>ゆめ</string>
            <key>arco</key>
            <string>ゆみ</string>
            <key>reading</key>
            <string>よみ</string>
            <key>bom</key>
            <string>よい</string>
            <key>i</key>
            <string>わたし</string>
            <key>eu entendo</key>
            <string>わかります</string>
            <key>over</key>
            <string>をとおして</string>
            <key>through</key>
            <string>をへて</string>
        </dict>
        <dict>
            <key>やめ</key>
            <string>yame</string>
            <key>やみ</key>
            <string>yami</string>
            <key>ゆめ</key>
            <string>yume</string>
            <key>ゆみ</key>
            <string>yumi</string>
            <key>よみ</key>
            <string>yomi</string>
            <key>よい</key>
            <string>yoi</string>
            <key>わたし</key>
            <string>watashi</string>
            <key>わかります</key>
            <string>wakarimasu</string>
            <key>をとおして</key>
            <string>otooshite</string>
            <key>をへて</key>
            <string>ohite</string>
        </dict>
    </array>

</array>
</plist>
